extends layout 

block content 

  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Category: 
      input#name.form-control(type='text' placeholder='Action, Strategy, etc.' name='name' value=(category===undefined ? '' : category.name))
    div.form-group
      label(for='description') Description: 
      textarea#description.form-control(placeholder='Description' name='description') #{category===undefined ? '' : category.description}
    if (password_required)
      div.form-group
        p Please enter admin password to continue with category update: 
        input#password.form-control(type='password' name='password' required='true')
    button.btn.btn-primary(type='submit') Submit 
  
  if fail_txt
    p= fail_txt

  if errors 
    ul 
      for error in errors 
        li!= error.msg