extends layout

block content
  h1= title
  p Welcome to #[em Game Inventory], the place to keep track of all your favorite games.

  h3 Database currently contains the following: 
  ul.counts 
    li #[strong Games:] !{game_count}
    li #[strong Categories:] !{category_count}